body {
    background-image: url('../images/aboutbg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutHead {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.selfie {
    width: 200px;
}

.bio {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: white;
    text-align: center;
}

