h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.titles {
    color: white;
    padding: 10px;
}

.input {
    width: 300px;
}

.textarea {
    width: 400px;
    height: 200px;
}