h1 {
    color: beige;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 85px;
    font-size: 40px;
}



.nav {
    align-items: right;
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: beige
}